.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .picture {
    padding: 1rem;
    width: 300px;
    .imageContainer {
      overflow: hidden;
      height: 40vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
  .download {
    margin-top: 0.5rem;
    font-size: small;
    font-weight: bold;
    color: black;
  }
  a {
    color: #747f7f;
    font-weight: bold;
  }
  .photographer {
    font-weight: bold;
  }
}
